.player-video {
  position: relative;
  display: grid;
  place-content: stretch;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  > div {
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    position: absolute;
    z-index: 0;
    padding: 1px;
  }
  .player-selected {
    z-index: 1;
  }
}