.folders {
  display: grid;
  grid-auto-rows: max-content;
  width: 200px;
  color: var(--cl-text-l);
  .folders_folder {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    column-gap: 10px;
    align-items: center;
    padding: 5px 0;
    > i {
      width: 25px;
    }

    &[data-folder-selected="true"] {
      background-color: var(--cl-pr-3);
    }

    &[data-folder-open="true"] {
      > i {
        transform: rotate(180deg);
      }
    }

    > label {
      place-self: stretch;
      display: grid;
      align-content: center;
      padding: 5px 0;
    }

    > .folders {
      grid-column: 1 / 4;
    }
  }
}
