.project-form {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-auto-rows: max-content;
  grid-gap: 10px;
  .folders {
    height: max-content;
    padding-top: 25px;
    .folders_folder > i:nth-of-type(2) {
      display: none;
    }
  }
  > .button {
    grid-column: 2 / 3;
    justify-self: end;
  }
  > input {
    border: 1px solid var(--color-grey-3);
    border-radius: 4px;
    background-color: var(--color-grey-2);
    color: white;
    padding: 10px;
    height: 60px;
    &::placeholder {
      color: white;
    }
  }
  > .project-form__links {
    position: relative;
    display: grid;
    grid-row-gap: 2px;
    > li {
      border: 1px solid var(--color-grey-2);
      display: grid;
      border-radius: 4px;
      padding: 0 1px;
      position: relative;
      > input {
        background-color: var(--color-grey-1);
        padding: 5px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

      }
      > label {
        padding: 5px;
      }
      > i {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
  }
}