.project-form {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-auto-rows: max-content;
  // > .folders {
  //   padding-top: 25px;
  // }
  .folders {
    height: max-content;
    grid-row: 1 / 4;
    .folders_folder > i:nth-of-type(2) {
      display: none;
    }
  }
  > .button {
    grid-column: 2 / 3;
    justify-self: end;
  }
  > .video-url-drop {
    cursor: copy;
    > input {
      cursor: copy;
      &:focus {
        outline: none;
      }
    }
  }
  > .project-form__links {
    position: relative;
    display: grid;
    grid-row-gap: 2px;
    grid-column: 2 / 3;
    border-left: 5px solid var(--cl-pr-2);
    > li {
      display: grid;
      position: relative;
      > input {
        background-color: var(--cl-pr-2);
        padding: 5px;
        color: var(--cl-text-l);
      }
      > label {
        padding: 5px;
        background-color: var(--color-grey-3);
        color: var(--cl-text-l);
      }
      > i {
        position: absolute;
        top: 3px;
        right: 5px;
      }
    }
  }
}
