.requests {
  display: grid;
  grid-template-columns: max-content 1fr;
  overflow: hidden;
  .requests__sidebar {
    display: grid;
    grid-auto-rows: max-content;
    grid-row-gap: 10px;
    padding: 10px;
    border-right: 1px solid var(--color-grey-2);
    overflow: hidden;
  }
}