header {
  z-index: 2;

  position: sticky;
  top: 0;
  height: 60px;

  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-column-gap: 20px;
  align-items: center;

  border-bottom: 1px solid var(--color-grey-2);
  background-color: white;
  padding: 0 10px;

  > .header-logo {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: end;
  }
  > .header-searchbar {
    display: grid;
    grid-template-columns: 195px 1fr max-content;
    grid-template-rows: max-content 0px;
    > div:first-of-type {
      display: grid;
      grid-auto-flow: column;
      place-items: center;
      column-gap: 10px;
      border: 1px solid var(--color-grey-2);
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      padding: 5px 10px;
      background-color: var(--color-grey-1);
      > i:first-of-type {
        padding-right: 10px;
        border-right: 2px solid var(--color-grey-2);
      }
      z-index: 1;
    }
    > input {
        z-index: 1;
      border: 1px solid var(--color-grey-2);
    }
    > .header-searchbar-submit {
      cursor: pointer;
      * {
        cursor: pointer;
      }
      z-index: 1;
      display: grid;
      grid-auto-flow: column;
      column-gap: 10px;
      border: 1px solid var(--color-grey-2);
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 5px 10px;
      background-color: var(--color-grey-1);
      place-items: center;
    }
    
    > .header-searchbar-result {
      grid-column: 1 / 4;
      position: relative;
      display: grid;
      place-items: stretch;
      > ul {
        display: grid;
        position: absolute;
        width: calc(100% - 22px);
        top: -3px;
        padding: 10px;
        border: 1px solid var(--color-grey-2);
        border-top: none;
        background-color: var(--color-grey-1);
        gap: 10px;
        > li {
          border-bottom: 1px solid var(--color-grey-2);
          padding-bottom: 10px;
          &:last-of-type {
            padding-bottom: 0;
            border-bottom: none;
          }
        }
      }
      > .searchbar-result {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        > li {
          gap: 10px;
          h4 {
            text-transform: capitalize;
            border-right: 2px solid var(--color-grey-2);
          }
          display: grid;
          grid-template-columns: 185px 1fr;
          > ul {
            display: grid;
            gap: 5px;
            > li {
              display: grid;
              grid-template-columns: 1fr max-content max-content;
              gap: 10px;
              align-items: center;
              > div {
                display: grid;
                grid-auto-flow: column;
                place-items: center;
                gap: 10px;
              }
            }
            > .searchbar-result__project {
              grid-template-columns: max-content 1fr max-content;
            }
            > .searchbar-result__project-selection, .searchbar-result__tag-selection {
              grid-template-columns: 1fr max-content max-content !important;
              div, a {
                display: grid;
                grid-auto-flow: column;
                place-items: center;
                gap: 5px;
                padding: 5px;
                border-radius: 4px;
                // background-color: var(--color-grey-2);
                // border: 2px solid var(--color-grey-2);
                color: var(--color-grey-4);
                cursor: pointer;
                * {
                  cursor: pointer;
                }
              }
            }
          }
        }
        > .searchbar-result__tags {
          > ul {
            > li {
              display: grid;
              grid-template-columns: max-content 1fr max-content max-content;
            }
          }
        }
        > .searchbar-close {
          grid-template-columns: 1fr;
          align-items: center;
          justify-items: end;
        }
      }
    }
  }
  > i {
    display: none !important;
  }

  > .header__navigation {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-column-gap: 20px;

    .header__menu {
      display: grid;
    }

    > ul {
      display: none !important;
    }

    ul, li, li > a {
      display: grid;
      grid-auto-flow: column;
      place-items: center;
      grid-column-gap: 20px;
      cursor: pointer;
      * {
        cursor: pointer;
      }
    }

    > nav {
      justify-self: end;
    }

    > .header__drop-component-content {
      display: none;
    }
  }
  
  @media (max-width: 1000px) {

    > i {
      display: inherit !important;
      &[data-menu-icon-open="true"] {
        color: var(--color-purple);
      }
    }

    > div {
      height: 0;
      padding: 0;
      overflow: hidden;

      grid-template-columns: 1fr;
      grid-row-gap: 10px;

      &[data-mobile-menu-open="true"] {
        height: max-content;
        padding: 10px;
        width: calc(100% - 20px);
      }

      position: absolute;
      grid-template-areas:
        "header"
        "nav";
      
      > menu {
        display: none;
      }
      > nav {
        grid-area: nav;
        justify-self: center;
        place-self: stretch;
        > ul {
          grid-auto-flow: row;
          justify-items: end;
          grid-row-gap: 10px;
          a > i {
            grid-column: 2 / 3;
          }
          a > label {
            grid-column: 1 / 2;
          }
        }
      }
      > .header__drop-component-content {
        grid-area: menu;
      } 
      &[data-mobile-nav-selected="false"] {
        grid-template-areas:
          "header"
          "menu";
        > nav {
          display: none;
        }
        > .header__drop-component-content {
          display: grid;
          place-items: center;
        }
      }

      top: 60px;
      right: 0;

      background-color: white;
      box-shadow: var(--shadow);

      > .header__drop-header {
        grid-area: header;
        display: inherit !important;
        grid-auto-columns: max-content;
        border-bottom: 1px solid var(--color-grey-1);
        > li {
          float: right;
          padding: 5px 10px;
          &[data-mobile-tab-selected="true"] {
            > i {
              color: var(--color-purple);
            }
          }
        }
      }
    }
  }
}