.button {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  width: max-content;
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--cl-pr-1);
  color: var(--cl-text-l);
  * {
    cursor: pointer;
  }
  &[data-button-disabled="true"] {
    cursor: not-allowed;
    pointer-events: none;
  }
}
