.button {
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  width: max-content;
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--color-grey-1);
  border: 1px solid var(--color-grey-2);
  border-radius: 4px;
  * {
    cursor: pointer;
  }
  &[data-button-disabled='true'] {
    cursor: not-allowed;
    pointer-events: none;
  }
}
